Django==1.6.5
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.0.0
wsgiref==0.1.2
static==1.0.2
django-admin-bootstrapped==1.6.4
django-bootstrap-form==3.1
pillow==2.1.0
django-oauth-toolkit 
django-cors-headers