{% extends "base.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

	<!-- Welcome -->
	<div class="container left-div" style="padding-left: 20px; padding-right:20px">
		<div>
		<h1><i>Welcome to Repositorium!</i></h1>
			<hr class="colorgraph">
			<h2>Slogan here and a basic explanation about what Repositorium is.</h2>
		</div>
	</div>

	<!-- Sign up -->
	<div class="container right-div" style="padding-left: 20px; padding-right:20px">
		<form action="/home/" method="post" role="form">
			<h2>Sign Up</h2>
			{{ sign_in_form.non_field_errors }}
			<hr class="colorgraph">

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					{% include "snippets/field.html" with field=sign_in_form.name %}
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6">
					{% include "snippets/field.html" with field=sign_in_form.last_name%}
				</div>
			</div>

			<hr class="colorgraph">
			{% include "snippets/field.html" with field=sign_in_form.username%}

			{% include "snippets/field.html" with field=sign_in_form.email%}
			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					{% include "snippets/field.html" with field=sign_in_form.password password=True%}
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6">
					{% include "snippets/field.html" with field=sign_in_form.confirm_password password=True%}
				</div>
			</div>

			<p style="font-size: 16px">By clicking <strong>Sign Up</strong>, you agree to the
			<a href="" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a>
			set out by this site.</p>	
			
			<button id="sign-2" type="submit" class="btn btn-success my-button-sign">Sign Up</button>

		</form>
	</div>
</div>
{% endblock %}